.Navbar{
    background-color: rgb(49, 92, 212);
    height: 4rem;
    color: white;
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
    justify-content: space-between; /* Distribuye el espacio horizontalmente */
    padding: 0 1rem;

}

button.light{
    width: 6rem;
}